* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
}

body {
  margin: 0;
}

.hightlight {
  background: rgb(231, 237, 242);
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #5382b6;
}

.content {
  margin-top: 48px;
  width: 100%;
}

.auth {
  margin: 16px 32px 8px 32px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  background: #4c77a6;
}

.auth__button {
  text-decoration: none;
  color: #fff;
}

.search {
  position: relative;
  width: 100%;
  padding: 8px 16px 8px 16px;
}

.search::before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 24px;
  width: 16px;
  height: 16px;
  background: url(/assets/search_icons.png) no-repeat 8px;
  background-position: 0px 0px;
  z-index: 10;
}

.search__input {
  color: #c6d8ec;
  background: #3d6591;
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 4px 8px 4px 30px;
  margin: 0;
  font-size: 14px;
}

.search__input::placeholder {
  color: #c6d8ec;
}

.person {
  display: flex;
}

.avatar {
  flex: 0 0 auto;
  margin: 8px;
  width: 48px;
  height: 48px;
  position: relative;
}

.avatar__img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.avatar.online::after {
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 6px;
  right: -2px;
  border-radius: 50%;
  background: #8ac176;
  border: 2px solid white;
  content: "";
}

.avatar.online--mobile::after {
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 16px;
  bottom: 6px;
  right: -4px;
  content: "";
  border-radius: 2px;
  background: white url("/assets/mobile.svg") no-repeat;
  background-size: 12px 12px;
  background-position: 0.5px;
}

.person__information {
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  margin-top: 8px;
}

.person__name {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.person__additional {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  color: #757575;
}

.error--notfound {
  margin-top: 64px;
  color: #757575;
  width: 100%;
  text-align: center;
}

.indicator--loading {
  display: none;
  margin: 8px auto 32px auto;
}

@media (min-width: 960px) {
  .content,
  .header__content {
    width: 960px;
    margin: 0 auto;
  }

  .content {
    padding-top: 48px;
  }

  .search {
    width: 480px;
    margin: 0 auto;
  }

  .avatar {
    position: relative;
    width: 96px;
    height: 96px;
  }

  .avatar__img {
    width: 100%;
    height: 100%;
  }

  .person__name {
    margin-top: 8px;
    font-size: 18px;
  }

  .avatar.online::after {
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 13px;
    bottom: 10px;
    right: -2px;
    border-radius: 50%;
    background: #8ac176;
    border: 2px solid white;
    content: "";
  }

  .avatar.online--mobile::after {
    width: 18px;
    height: 20px;
    bottom: 8px;
    right: 0px;
    background-size: 16px 16px;
    background-position: 0.5px;
  }
}
