* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background: #5382b6;
}

.content {
  width: 100%;
}

.auth {
  margin: 16px 32px 8px 32px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  background: #4c77a6;
}

.auth__button {
  text-decoration: none;
  color: #fff;
}

.search {
  position: relative;
  width: 100%;
  padding: 8px 16px 8px 16px;
}

.search::before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 25px;
  width: 16px;
  height: 16px;
  background: url(/assets/search_icons.png) no-repeat 8px;
  background-position: 0px 0px;
}

.search__input {
  color: #c6d8ec;
  background: #3d6591;
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 4px 8px 4px 30px;
  font-size: 14px;
}

.search__input::placeholder {
  color: #c6d8ec;
}

.person {
  display: flex;
}

.avatar {
  position: relative;
}

.avatar.online::after {
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 16px;
  right: 6px;
  border-radius: 50%;
  background: #8ac176;
  border: 2px solid white;
  content: "";
}

.avatar.online--mobile::after {
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 16px;
  bottom: 16px;
  right: 8px;
  content: "";
  border-radius: 2px;
  background: white url("/assets/mobile.svg") no-repeat;
  background-size: 12px 12px;
  background-position: 0.5px;
}

.avatar__img {
  margin: 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.person__information {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 8px;
}

.person__name {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
}

.person__additional {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  color: #757575;
}

@media (min-width: 960px) {
  .content,
  .header__content {
    width: 960px;
    margin: 0 auto;
  }

  .search {
    width: 320px;
    margin-left: auto;
  }

  .avatar__img {
    width: 64px;
    height: 64px;
  }

  .person__name {
    margin-top: 8px;
    font-size: 18px;
  }
}
